.statistics {
  width: 280px;  
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}
  
.statList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}
  
.item {
  display: flex;
  flex-direction: column;
  width: 50px;
  padding: 10px;
}